    <ul>
    <li><%= @transcribe.caller_name %></li>

    <li><%= @transcribe.caller_location %></li>
    
    <li><%= @transcribe.language %></li>

    <li><%= @transcribe.transcription_text %></li>

    <li><%= @transcribe.categories %></li>
    </ul>