<div class="leftbar">
  <h1>Transcribed Text</h1>
  <div class="inner">
    <ul>
        <li>
          <div>
            Caller Name: <%= @transcribe.caller_name %> <br />
            Caller Location: <%= @transcribe.caller_location %><br />
            Original Language: <%= @transcribe.language %><br />
            Transcription: <%= @transcribe.transcription_text %><br />
            Categories: <%= @transcribe.categories.map(&:title).join(", ") %>
          </div>
        </li>  
    </ul>
  </div>
</div>